[submodule "static/extra/apk-malware-samples"]
	path = static/extra/apk-malware-samples
	url = https://github.com/quark-engine/apk-malware-samples.git
[submodule "reverse/extra/dex2jar"]
	path = reverse/extra/dex2jar
	url = https://github.com/pxb1988/dex2jar.git
[submodule "reverse/extra/jd-gui"]
	path = reverse/extra/jd-gui
	url = https://github.com/java-decompiler/jd-gui.git
[submodule "reverse/extra/simplify"]
	path = reverse/extra/simplify
	url = https://github.com/CalebFenton/simplify.git
[submodule "dynamic/extra/rms"]
	path = dynamic/extra/rms
	url = https://github.com/m0bilesecurity/RMS-Runtime-Mobile-Security.git
